/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.gallery-container{
    font-family: Arial, sans-serif;
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 sütunlu düzen */
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
}

.gallery-item {
  list-style: none;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-link {
  display: block;
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 3px solid #ddd;
}

.feedback-form {
  max-width: 500px;
  margin: auto;
  padding: 20px 30px;
  background: linear-gradient(135deg, #e0bbff, #f3e5f5);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  margin-bottom: 15px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: #e34234;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d4af37;
}